//-header
mj-section
    mj-column
        mj-text Applications de gestion
        mj-text 100% no-code
        mj-text Accélérer la croissance
        mj-text de votre entreprise
        mj-text Libérez-vous des contraintes de logiciels figés du marché et embrassez l'ère de l'efficacité avec les applications de gestion 100% no-code Flex365 en vous inscrivant à nos webinaires
        mj-button Je m'inscris au webinaire
    mj-column
        mj-image(src="https://i.ibb.co/KrjTLhL/col-03.png" alt="")
