//-header
mj-section(background-color="#0c2982" background-url="https://op.lm-manleads.com/clt-df/flex/assets/2024-07/back_01.png" background-repeat="repeat" background-size="cover")
    mj-column(width="3.07%")
    mj-column(width="313px" padding="10px")
        mj-text(padding="0" align="left" font-family="'Open Sans', Arial, Helvetica, sans-serif" font-size="23px" font-weight="700" line-height="27px" color="#ffffff") Applications de gestion
        mj-text(padding="0" align="left" font-family="'Open Sans', Arial, Helvetica, sans-serif" font-size="32px" font-weight="700" line-height="36px" color="#ffffff") 100% no-code
        mj-text(padding="0" align="left" font-family="'Open Sans', Arial, Helvetica, sans-serif" font-size="23px" font-weight="700" line-height="27px" color="#ffffff") Accélérer la croissance de votre entreprise
        mj-text(padding="20px 0" align="left" font-family="'Open Sans', Arial, Helvetica, sans-serif" font-size="15px" font-weight="400" line-height="19px" color="#ffffff") Libérez-vous des contraintes de logiciels figés du marché et embrassez l'ère de l'efficacité avec les applications de gestion 100% no-code Flex365 en vous inscrivant à nos webinaires
        mj-button(href="#" padding="10px 0" align="left" inner-padding="16px 20px" background-color="#0066ff" font-family="'Open Sans', Arial, Helvetica, sans-serif" font-size="15px" font-weight="600" line-height="19px" color="#ffffff") Je m'inscris au webinaire #[i(style="font-family:FontAwesome;color:#ffffff" class="fa-solid fa-arrow-right")]
    mj-column(width="317px")
        mj-image(align="right" padding="0" width="317px" fluid-on-mobile="true" src="https://i.ibb.co/KrjTLhL/col-03.png" alt="")
