//- Ojectifs et Arguments
mj-wrapper
    mj-section
        mj-column
            mj-text Flex365 sont des applications de gestion 100% no-code
            mj-text Accélérer la croissance de votre entreprise
    mj-section
        mj-column
            mj-text Développement plus rapide
        mj-column
            mj-text Réductions des coûts
        mj-column
            mj-text Augmentation de l'agilité
    mj-section
        mj-column
            mj-text Amélioration de l'epérience utilisateur
        mj-column
            mj-text Plus grande flexibilité
        mj-column
            mj-text Solutions Applicatives prêtes à l'emploi
    mj-section
        mj-column
            mj-text 42 connecteurs disponibles
        mj-column
            mj-text Prêt à l'emploi ou sur mesure
        mj-column
            mj-text Interconnectivité