mj-wrapper(background-color="#e5efff" padding="25px")
    mj-section(padding="0")
        mj-column 
            mj-text(padding="0" align="center" font-family="'Open Sans', Arial, Helvetica, sans-serif" font-size="21px" font-weight="700" line-height="25px" color="#003399") 7 solutions applicatives
            mj-text(padding="0" align="center" font-family="'OpenSans', Airal, Helvetica, sans-serif" font-size="21px" font-weight="700" line-height="25px" color="#003399") interconnectées et 100% flexibles
            mj-text(padding="0" align="center" font-family="'Open Sans', Arial, Helvetica, sans-serif" font-size="18px" font-weight="300" line-height="22px" color="#448fff") pour accélérer la croissance de votre organisation...
            mj-spacer(height="20px")
    mj-section(padding="0")
        mj-column(width="25%")
            mj-image(padding="8px" width="138px" fluid-on-mobile="true" src="https://i.ibb.co/DWZnLRH/BLOC-03.jpg" alt="")
        mj-column(width="25%")
            mj-image(padding="8px" width="138px" fluid-on-mobile="true" src="https://i.ibb.co/7z9CgTJ/BLOC-05.jpg" alt="")
        mj-column(width="25%")
            mj-image(padding="8px" width="138px" fluid-on-mobile=" true" src="https://i.ibb.co/pyRXTKF/BLOC-07.jpg" alt="")
        mj-column(width="25%")
            mj-image(padding="8px" width="138px" fluid-on-mobile="true" src="https://i.ibb.co/RhSSgP1/BLOC-09.jpg" alt="") 
        mj-column(width="25%")
            mj-image(padding="8px" width="138px" fluid-on-mobile="true" src="https://i.ibb.co/1rVdtmw/BLOC-16.jpg" alt="")
        mj-column(width="25%")
            mj-image(padding="8px" width="138px" fluid-on-mobile="true" src="https://i.ibb.co/yVhDgjF/BLOC-18.jpg" alt="")
        mj-column(width="25%")
            mj-image(padding="8px" width="138px" fluid-on-mobile="true" src="https://i.ibb.co/phwBdF9/BLOC-20.jpg" alt="")
    mj-section
        mj-column
            mj-button(href="#" padding="10px 0" align="center" inner-padding="16px 20px" background-color="#0066ff" font-family="'Open Sans', Arial, Helvetica, sans-serif" font-size="15px" font-weight="600" line-height="19px" color="#ffffff") Je privéligie une consultation individualisée #[i(style="font-family:FontAwesome;color:#ffffff" class="fa-solid fa-arrow-right")]