mjml
    mj-head
        mj-title Découvrez les 7 solutions applicatives interconnectées et 100% flexibles : je m'inscris au webinar !
        mj-font(name="Open Sans" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap")
        mj-font(name="FontAwesome" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-class(name="t1" font-family="'Open Sans', Arial, Helvetica, sans-serif" font-size="21px" font-weight="700" line-height="25px" color="#003399")
            mj-class(name="t2" font-family="'Open Sans', Arial, Helvetica, sans-serif" font-size="18px" font-weight="300" line-height="22px" color="#448fff")
            mj-image(border="none")/
            mj-button(inner-padding="16px 20px" background-color="#0066ff" font-family="'Open Sans', Arial, Helvetica, sans-serif" font-size="15px" font-weight="600" line-height="19px" color="#ffffff")/
        mj-breakpoint(width="480px")
    mj-body(width="650px" background-color="#eeeeee")
        //- content
        block content
        //- header
        block header
            include ../includes/_header
        //- objectifs argumentaires
        block objects
            include ../includes/_objects
        //- solutions
        block solutions
            include ../includes/_solutions
        //- footer
        block footer
            include ../includes/_footer
